.woocommerce .woocommerce-ordering {
  margin-bottom: 0;
}

.woocommerce .quantity .qty {
  display: none;
}

.woocommerce button.button.alt {
  background-color: #4e3362;
  padding-left: 77px;
  padding-right: 71px;
  color: #fff;
  letter-spacing: 0.02em;
}

.single-options__order,
.price {
  bdi {
    margin: 0;
    margin-top: 8px;
    padding-left: 17px;
    position: relative;
    font-weight: 500;
    font-size: 35px;
    line-height: 36px;
    letter-spacing: 0.02em;
  }

  del {
    bdi {
      text-decoration: line-through;
      .woocommerce-Price-currencySymbol {
        text-decoration: none;
      }
    }
  }

  .woocommerce-Price-currencySymbol {
    position: absolute;
    left: 0;
    top: 1px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
  }
}

////  Content

.content {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #4e3362;
  }
  a {
    color: rgba(#4e3362, 0.6);

    &:hover {
      text-decoration: underline;
    }
  }
}
.post {
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
  h3,
  h4,
  p {
    margin: 0;
    line-height: normal;
  }

  &--center {
    margin: 0 auto;
    text-align: center;
  }
}
