.breadcrumbs {
  padding-top: 30px;
  a,
  span {
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.03em;
    color: #4e3362;
  }
  a {
    &:hover {
      opacity: 0.7;
    }
  }
  span {
    font-weight: 700;
  }
}
