.products {
  padding-bottom: 57px;

  &__list {
    padding-top: 30px;
    padding-bottom: 84px;
    display: grid;
    gap: 27px 30px;
    grid-template-columns: repeat(auto-fit, 270px);
    justify-content: center;
  }
}

.product {
  width: 270px;
  height: 333px;
  text-align: center;

  &__img {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 270px;
    height: 257px;
    background: #eee;
    border: 3px solid #eee;
    transition: 0.5s;

    img {
      display: block;
      width: 100%;
      object-fit: contain;
    }
  }

  &__title {
    font-size: 15px;
    line-height: 30px;
  }

  &__btn {
    padding: 6px 24px;
    margin-bottom: 3px;
    min-height: 28px;
    border-radius: 25px;
    background: rgba(78, 51, 98, 0.09);
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transition: 0.5s;
    span {
      display: inline-block;
      margin: 0 6px 0 10px;
    }
  }

  &:hover {
    .product__img {
      border: 3px solid rgba(78, 51, 98, 0.55);
    }
    .product__btn {
      color: #fff;
      background: #4e3362;
    }
  }
}
