.single-galery {
  padding-top: 9px;

  &__active-img {
    margin-bottom: 34px;
    padding: 30px;
    position: relative;
    text-align: center;
    background: #f4f4f4;
  }

  &__active-list {
    max-width: 570px;
    max-height: 513px;
    overflow: hidden;
    img {
      margin: 0 auto;
      object-fit: contain;
      height: 100%;
    }
  }

  &__zoom {
    position: absolute;
    right: 22px;
    bottom: 19px;
    width: 68px;
    height: 68px;
    transform: scale(1);
    border-radius: 10px;
    background: rgba(#f4f4f4, 1);
    transition: 0.7s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__list {
    position: relative;
    text-align: center;
  }

  &__arrow {
    display: block;
    width: 21px;
    height: 21px;
    position: absolute;
    top: -27px;
    right: 40%;
    transform: rotate(-90deg);
    z-index: 50;
    transition: 0.5s;
    img {
      width: 21px;
      height: 13px;
    }

    &--left {
      left: 40%;
      transform: rotate(90deg);
    }
  }

  &__item {
    display: inline-block;
    width: 170px;
    height: 100px;
    opacity: 0.5;
    transition: 0.5s;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      opacity: 1;
    }
  }
}

//slider classes
.slick-current {
  .single-galery__item {
    opacity: 1;
  }
}
