.testimonials {
  background: #f6f3f1;

  p {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.testimony {
  &__body {
    margin: 0 auto;
    min-height: 69px;
  }

  &__autor,
  &__text {
    display: inline-block;
    margin: 0;
  }

  &__autor {
    position: relative;
    margin-right: 14px;
    padding-right: 53px;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      right: 0;
      top: calc(50% - 2px);
      border-top: 1px solid #4e3362;
    }
  }

  &__text {
    position: relative;
    font-style: italic;
    line-height: 19px;
    padding-right: 49px;
    &::after {
      content: url('../../img/icon/right-double-quotation.svg');
      position: absolute;
      height: 100%;
      top: -2px;
      right: 0;
    }
  }
}
