.top-banner {
  min-height: 448px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(40, 19, 46, 0.72), rgba(40, 19, 46, 0.72)),
    url('../../img/top-banner_bg.jpg') no-repeat;
  backdrop-filter: blur(1px);
  background-size: cover;

  &__text {
    text-align: center;
    color: #f7f0d2;
    h1 {
      margin: 11px 0;
      font-weight: 700;
      font-size: 55px;
      line-height: 65px;
      letter-spacing: 0.03em;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__description {
    margin-bottom: 24px;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-shadow: 1px 1px 3px #4e3362;
  }
}
